<h1>{{ title }}</h1>
<p>Hello, {{subscriber}}</p>
<p>{{coach}} created new training that you might be interested in</p>
<br/>
<h2>{{trainingTitle}}</h2>
<img src={{image}} alt='trainingImage'>
<h3>Training prerequisites</h3>
<ul>
  <li>Train type: {{type}}</li>
  <li>Gender: {{gender}}</li>
  <li>Duration: {{duration}}</li>
  <li>Level: {{level}}</li>
  <li>Callorie quantity: {{callories}}</li>
</ul>
<a href={{trainingUrl}}>See new training on the site</a>
